<template>
  <v-app class="rounded rounded-md bg-grey-lighten-3">
    <v-app-bar color="white" class="text-center" elevation="3">
      <v-app-bar-title>
        <img
            alt="DocuPet: A Safe and Happy Home for every pet"
            src="/images/logo.png"
            style="height: 30px; width: auto;"
        />
      </v-app-bar-title>
      <template v-slot:append>
        <v-btn variant="plain" href="#">Help</v-btn>
        <v-btn color="blue" variant="text" href="#">Save and Finish Later</v-btn>
      </template>
    </v-app-bar>

    <v-main class="d-flex justify-center my-5">
      <v-sheet
          class="mx-auto mt-8 pt-3 pb-5 px-10 rounded-lg"
          elevation="12"
          max-width="100%"
          width="600"
      >
        <router-view/>
      </v-sheet>
    </v-main>

    <v-footer class="bg-transparent justify-center">
      Footer TBD
    </v-footer>
  </v-app>
</template>

<script>
import PetForm from "@/PetForm";
export default {
  components: {
    PetForm,
  }
};
</script>
