<template>
  <Steps :current="1" :total="7"/>

  <h1>Choose your pet's species:</h1>

  <v-row>
    <v-col>
      <v-btn
          block
          color="green"
          prepend-icon="mdi-cat"
          size="x-large"
          stacked
          :to="{name: 'pet_form', params: {species: 'cat'}}"
      >Cat</v-btn>
    </v-col>
    <v-col>
      <v-btn
          block
          color="blue"
          prepend-icon="mdi-dog"
          size="x-large"
          stacked
          :to="{name: 'pet_form', params: {species: 'dog'}}"
      >Dog</v-btn>
    </v-col>
  </v-row>
</template>

<script>
import {defineComponent} from "vue";
import Steps from "@/Steps.vue";

export default defineComponent({
  components: {Steps}
})
</script>
