<template>
  <Steps :current="2" :total="7"/>

  <h2 class="text-blue-darken-4 mb-5">Tell us about your {{ species }}</h2>

  <v-form v-model="valid" @submit.prevent="submit">
    <v-text-field
        :label="`What is your ${species}'s name?`"
        required
        :rules="nameRules"
        variant="outlined"
        v-model="name"
    />

    <v-autocomplete
        auto-select-first
        :hide-no-data="false"
        :items="breeds"
        :label="`What breed are they?`"
        :loading="loadingBreeds"
        menu-icon="mdi-magnify"
        no-data-text="Start typing to search"
        required
        variant="outlined"
        v-model="breed"
        v-model:search="breedSearch"
    >
      <template v-slot:no-data>
        <v-list-item v-if="breedSearch.length < 1">Start typing to search</v-list-item>
        <v-list-item v-else-if="breedSearch.length < 3">Keep typing to search</v-list-item>
        <v-list-item v-else @click="() => breed = notFoundVal">Can't find it?</v-list-item>
      </template>
    </v-autocomplete>

    <v-radio-group
        v-if="breedNotFound"
        :required="breedNotFound"
        class="mx-3 pt-0"
        label="Choose One"
        v-model="breedOther"
    >
      <v-radio label="I don't know" value="unknown"></v-radio>
      <v-radio label="It's a mix" value="mix"></v-radio>
      <v-text-field
          v-if="breedIsMix"
          label="Which breeds are in the mix?"
          :required="breedIsMix"
          variant="outlined"
          v-model="mixBreeds"
      />
    </v-radio-group>

    <p>What gender are they?</p>
    <v-btn-toggle color="blue" required variant="outlined" v-model="gender">
      <v-btn value="female">Female</v-btn>
      <v-btn value="male">Male</v-btn>
    </v-btn-toggle>

    <div class="mx-auto mt-10 mb-8" style="max-width: 200px">
      <v-btn
          block
          :disabled="!valid"
          size="large"
          color="primary"
          type="submit"
      >Continue</v-btn>
    </div>
  </v-form>

  <v-alert
      v-if="success"
      closable
      :text="`Thanks for registering your ${species}!`"
      title="Great job!"
      type="success"
  />
  <v-alert
      v-if="errors.length > 0"
      closable
      title="Uh oh!"
      type="error"
  >
    <template v-slot:text>
      <p v-for="error in errors">{{ error }}</p>
    </template>
  </v-alert>
</template>

<script>
import {debounce} from 'debounce';
import Steps from '@/Steps.vue';

const notFoundVal = '_not_found';
export default {
  components: {
    Steps,
  },

  props: {
    breed: {default: null, type: String},
    breedOther: {default: null, type: String},
    mixBreeds: {default: null, type: String},
    gender: {default: null, type: String},
    name: {default: null, type: String},
    species: String,
  },

  data: () => ({
    breedMixVal: 'mix',
    breeds: [],
    breedSearch: '',
    errors: [],
    loadingBreeds: false,
    nameRules: [
      (value) => {
        if (!value) {
          return 'Name is required.'
        }
        return true
      },
      (value) => {
        if (value?.length <= 64) {
          return true
        }

        return 'Name must be less than 64 characters.'
      },
    ],
    notFoundVal,
    success: false,
    valid: false,
  }),

  computed: {
    breedNotFound() {
      return this.breed === notFoundVal;
    },
    breedIsMix() {
      return this.breedOther === this.breedMixVal;
    },
  },

  methods: {
    async doBreedSearch(value, self) {
      if (value?.length < 3) {
        // search with min of 3 characters
        return;
      }
      if (self.loadingBreeds) {
        // already searching
        return;
      }
      self.loadingBreeds = true;
      self.breeds = [{value: notFoundVal, title: `Can't find it?`}];
      try {
        const resp = await fetch(`/api/breeds/${self.species}/search/${value}`);
        const json = await resp.json();
        self.breeds.push(...(json?.data ?? []));
      } catch (e) {
        console.error('Unable to load pet breeds', { e });
      } finally {
        self.loadingBreeds = false;
      }
    },

    async submit() {
      this.errors = [];
      this.success = false;
      let breed = this.breed;
      if (this.breedIsMix) {
        breed = this.mixBreeds;
      }
      else if (this.breedNotFound) {
        breed = this.breedOther;
      }

      const resp = await fetch('/api/pet', {
        method: 'POST',
        headers: { 'Accept': 'application/json', 'Content-Type': 'application/json' },
        body: JSON.stringify({
          breed,
          gender: this.gender,
          name: this.name,
          species: this.species,
        }),
      });
      const data = await resp.json();
      this.success = resp.status === 201;
      this.errors = data?.detail ? data.detail.split("\n") : [];
    },
  },

  watch: {
    breedSearch(value) {
      if (value?.length < 3) {
        return;
      }
      debounce(this.doBreedSearch, 200)(value, this);
    }
  },
}
</script>
