<template>
  <div class="d-flex justify-space-between my-5" style="height: 40px">
    <img
        v-for="i in total"
        :alt="`Step ${i}`"
        :class="{'align-self-end': i % 2 === 0, 'align-self-start': i % 2 === 1}"
        :key="i"
        :src="`/images/paw-print-${(i <= current ? 'green' : 'gray')}.svg`"
        style="height: 25px; rotate: 90deg; width: 25px;"
    />
  </div>
</template>

<script>
export default {
  props: {
    current: Number,
    total: Number,
  },

  data: () => ({
  }),
}
</script>
